<head>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="container">
        <form action="/start" method="get">
        <button id="start"></button>
        </form>
    </div>
</body>