<head>
    <link rel="stylesheet" href="../css/word.css">
</head>

<body>
    <div class="container">
        <!-- 返回/主页 -->
        <form method="get">
            <button id="back" formaction="/start"></button>
            <button id="home" formaction="/"></button>
        </form>

        <!--临时用户选项 -->
        <a href="/record" id="user"></a>

        <div class="container-bd">
            <!-- 游戏中可能会用到的单词 -->
            <h2>Words may used:</h2>
            <ul>
                <li><b>fine</b></li>
                <li>n.罚款</li>
                <li><b>owe</b></li>
                <li>vt.亏欠</li>
                <li><b>make up</b></li>
                <li></li>
                <li><b>-for</b></li>
                <li>v.补偿</li>
                <li><b>curse</b></li>
                <li>n.诅咒</li>
                <li><b>recipe</b></li>
                <li>n.秘方</li>
                <li><b>grime</b></li>
                <li>v.污垢</li>
                <li><b>ultimate</b></li>
                <li>n.先进的事物</li>
                <li><b>bulb</b></li>
                <li>n.灯泡</li>
            </ul>
            <ul class="second">
                <li><b>alarm</b></li>
                <li>n.警报器</li>
                <li><b>chum</b></li>
                <li>n.朋友</li>
                <li><b>moron</b></li>
                <li>n.笨蛋</li>
                <li><b>trap</b></li>
                <li>vt.使陷入困境</li>
                <li><b>comics</b></li>
                <li>n.漫画书</li>
            </ul>
            <form action="comics_middle" method="get">
                <button id="next">下一步</button>
            </form>

        </div>
    </div>
    <script src=../javascript/home.js> </script> </body>