<head>
    <link rel="stylesheet" href="../css/word.css">
</head>

<body>
    <div class="container">
        <!-- 返回/主页 -->
        <form method="get">
            <button id="back" formaction="/start"></button>
            <button id="home" formaction="/"></button>
        </form>

        <!--临时用户选项 -->
        <a href="/record" id="user"></a>

        <div class="container-bd">
            <!-- 游戏中可能会用到的单词 -->
            <h2>Words may used:</h2>
            <ul>
                <li><b>tears</b></li>
                <li>n.眼泪</li>
                <li><b>punishment</b></li>
                <li>n.惩罚</li>
                <li><b>surprise</b></li>
                <li>n.意外</li>
                <li><b>orders</b></li>
                <li>n.命令</li>
                <li><b>nobleman</b></li>
                <li>n.贵族</li>
                <li><b>heirs</b></li>
                <li>n.继承人</li>
                <li><b>hide-and</b></li>
                <li></li>
                <li><b>-seek</b></li>
                <li>n.捉迷藏</li>
                <li><b>sleigh</b></li>
                <li>n.雪橇</li>
                <li><b>idiot</b></li>
                <li>n.笨蛋</li>
                <li><b>blown</b></li>
                <li>v. 刮；吹</li>

            </ul>
            <ul class="second">
                <li><b>Christmas</b></li>
                <li>n.圣诞节</li>
                <li><b>magic</b></li>
                <li>adj.有魔法的</li>
                <li><b>same</b></li>
                <li>adj.一样的</li>
                <li><b>ruined</b></li>
                <li>v. 毁坏；破坏</li>
                <li><b>unusual</b></li>
                <li>adj.不寻常的</li>
                <li><b>instead</b></li>
                <li>adv.代替</li>
            </ul>
            <form action="comics_easy" method="get">
                <button id="next">下一步</button>
            </form>

        </div>
    </div>
    <script src=../javascript/home.js> </script> </body>