<head>
    <link rel="stylesheet" href="../css/word.css">
</head>

<body>
    <div class="container">
        <!-- 返回/主页 -->
        <form method="get">
            <button id="back" formaction="/start"></button>
            <button id="home" formaction="/"></button>
        </form>

        <!--临时用户选项 -->
        <a href="/record" id="user"></a>

        <div class="container-bd">
            <!-- 游戏中可能会用到的单词 -->
            <h2>Words may used:</h2>
            <ul>
                <li><b>shovelful</b></li>
                <li>n.一铲之量</li>
                <li><b>equal</b></li>
                <li>n.公平的</li>
                <li><b>another</b></li>
                <li>adj.再一个</li>
                <li><b>race</b></li>
                <li>n.赛跑</li>
                <li><b>let go</b></li>
                <li>v.放手</li>
                <li><b>stall</b></li>
                <li>v.（使）熄火</li>
                <li><b>toss</b></li>
                <li>v.轻扔</li>
                <li><b>outrun</b></li>
                <li>v.跑得比…快</li>
            </ul>
            <ul class="second">
                <li><b>gone</b></li>
                <li>adj.消失了</li>
                <li><b>awkward</b></li>
                <li>adj.笨拙的</li>
                <li><b>lost</b></li>
                <li>adj.迷路的</li>
                <li><b>peel</b></li>
                <li>n.果皮</li>
            </ul>
            <form action="comics_hard" method="get">
                <button id="next">下一步</button>
            </form>

        </div>
    </div>
    <script src=../javascript/home.js> </script> </body>