<head>
    <link rel="stylesheet" href="../css/write.css">
</head>

<body>
    <div class="container">
        <a href="/record" id="user"></a>

        <h1>恭喜您已完成当前难度的漫画观看和学习！</h1>
        <h3>记录本次学习的生词（感想）…</h3>
        <form action="/submit" method="post">
            <textarea name="diary"></textarea>
            <button type="submit">提交</button>
        </form>
    </div>
</body>