* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input,button,textarea {
    border: 0;
    outline: 0;
}
textarea {
    resize: none;
}
button {
    cursor: pointer;
}

#user {
    position: absolute;
    left: 950px;
    top: 10px;
    }

.container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        overflow: hidden;
}
.container:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(5px);
        background: url(../images/bg2.jpg) no-repeat;
        background-size: cover;
        z-index: -999;
}

h1 {
    padding-top: 130px;
    text-align: center;
    color: #fff;
    font-size: 36px;
}
h3 {
    padding-top: 70px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
textarea {
    display: block;
    margin: 10px auto 0 auto;
    width: 500px;
    height: 200px;
    border: 3px solid rgb(138, 190, 197);
    border-radius: 15px;
    font-size: 18px;
    padding: 10px 0 0 10px;
}
button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 20px auto;
    background: url(../images/button/normal/medium.png) no-repeat;
    background-size: cover;
}
button:hover {
    background: url(../images/button/hover/medium.png) no-repeat;
    background-size: cover;
}
button:active {
    background: url(../images/button/click/medium.png) no-repeat;
    background-size: cover;
}

a#user {
    width: 60px;
    height: 60px;
    background: url(../images/button/normal/profile.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: 50px;
    top: 40px;
    margin: 0;
}
a#user:hover {
    background: url(../images/button/hover/profile.png) no-repeat;
    background-size: cover;
}
a#user:active {
    background: url(../images/button/click/profile.png) no-repeat;
    background-size: cover;
}